n8n/workflows/job-matcher.template.json
{
  "name": "Job Matcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.apifyUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.apifyToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.apifyQuery, location: $json.apifyLocation, country: $json.apifyCountry, limit: $json.apifyMaxItems, datePosted: $json.apifyDatePosted } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "node-apify",
      "name": "Fetch from Indeed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-normalize-indeed",
      "name": "Normalize Indeed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-fetch-ft",
      "name": "Fetch from France Travail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        440
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "node-merge",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-dedup",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-pre-filter",
      "name": "Pre-filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-prepare",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.ollamaUrl }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "node-ollama",
      "name": "Score with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-parse",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": "={{ $json.minScore }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Above Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-write-offers",
      "name": "Write Offers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run",
        "responseMode": "onReceived",
        "options": {
          "responseData": "noData"
        }
      },
      "id": "webhook-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "jm-run-pipeline"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch from Indeed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch from France Travail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from Indeed": {
      "main": [
        [
          {
            "node": "Normalize Indeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Indeed": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from France Travail": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Pre-filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-filter": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Score with Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score with Ollama": {
      "main": [
        [
          {
            "node": "Parse Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Score": {
      "main": [
        [
          {
            "node": "Write Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Above Threshold?": {
      "main": [
        [],
        []
      ]
    },
    "Write Offers": {
      "main": [
        [
          {
            "node": "Above Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "job-matcher-error-v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "job-matcher-v1",
  "tags": []
}
