n8n/workflows/job-matcher.template.json
{
  "name": "Job Matcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.apify.com/v2/acts/' + $env.APIFY_ACTOR_ID + '/run-sync-get-dataset-items' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.APIFY_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { title: $env.APIFY_QUERY, location: $env.APIFY_LOCATION, country: $env.APIFY_COUNTRY, limit: Number($env.APIFY_MAX_ITEMS || 50), datePosted: $env.APIFY_DATE_POSTED || '3' } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "node-apify",
      "name": "Fetch from Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-dedup",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-prepare",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_BASE_URL }}/api/generate",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "node-ollama",
      "name": "Score with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": ""
      },
      "id": "node-parse",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-score",
              "leftValue": "={{ $json.score }}",
              "rightValue": "={{ Number($env.MIN_SCORE || 7) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Above Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "=🎯 {{ $json.score }}/10 — {{ $json.title }}{{ $json.creator ? ' @ ' + $json.creator : '' }}\n\n{{ $json.matchReasons.map(r => '✅ ' + r).join('\\n') }}{{ $json.concerns.length ? '\\n' + $json.concerns.map(c => '⚠️ ' + c).join('\\n') : '' }}\n\n{{ $json.summary }}\n\n🔗 {{ $json.link }}",
        "additionalFields": {}
      },
      "id": "node-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 200],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule": {
      "main": [
        [{ "node": "Fetch from Apify", "type": "main", "index": 0 }]
      ]
    },
    "Fetch from Apify": {
      "main": [
        [{ "node": "Deduplicate", "type": "main", "index": 0 }]
      ]
    },
    "Deduplicate": {
      "main": [
        [{ "node": "Prepare Request", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Request": {
      "main": [
        [{ "node": "Score with Ollama", "type": "main", "index": 0 }]
      ]
    },
    "Score with Ollama": {
      "main": [
        [{ "node": "Parse Score", "type": "main", "index": 0 }]
      ]
    },
    "Parse Score": {
      "main": [
        [{ "node": "Above Threshold?", "type": "main", "index": 0 }]
      ]
    },
    "Above Threshold?": {
      "main": [
        [{ "node": "Send to Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "job-matcher-v1",
  "tags": []
}
